.main {
  display: flex;
  flex-direction: column-reverse;
}
.boton-agregar {
  background-color: #117a7a;
  color: white;
  /* border: 3px solid yellow; */
}
li {
  background-color: white;
  display: inline;
  width: 487px;
  display: flex;
  justify-content: space-between;
  padding: 2px 4px 2px 8px;
  align-items: center;
  border-radius: 10px;
}
/* .check-boton {

} */
.metas-container {
  /* border: 3px solid yellow; */
  /* // como centrar el contenido de un div */
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  /* border: 3px yellow solid; */
  display: inline-block;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}
.input-boton {
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  border: 8px solid white;
}
